<div class="p-5">

    {% include "include/messages.html" %}

    <form>

        <fieldset class = "wrapper">

            <ul class="wrapper">

                <li class="form-row">

                    <div>{{ plot_div|indent(4)|safe }}</div>

                </li>

                <li class="form-row">










                </li>

                <li class="form-row">

                    <div>{{ datatable }}</div>

                </li>

            </ul>

        </fieldset>

    </form>

</div>
